// sass-lint:disable nesting-depth
.info-section {
  &__hero {
    @include make-col-ready();
    @include make-col(12);

    @media( min-width: $breakpoint-sm-min ){
      padding-right: 0;
    }

    @media( min-width: $breakpoint-md-min ) {
      @include make-col(6.5);
    }

    @media( min-width: $breakpoint-lg-min ) {
      @include make-col(8);
    }

    .hero {
      &__background {
        @media( min-width: $breakpoint-md-min ) {
          background-size: cover;
          height: 100%;
          min-height: 405px;
          position: relative;
        }
      }

      &__title {
        line-height: 1;
        padding: 30px;
        width: 100%;

        @media( min-width: $breakpoint-md-min ) {
          background:  linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, .62) 44%, rgba(0, 0, 0, .8) 100%);
          bottom: 0;
          left: 0;
          margin-left: 15px;
          padding: 30px;
          position: absolute;
        }

        @media( min-width: $breakpoint-xl-min ) {
          padding: 50px 15px 15px;
        }

        h1 {
          color: $color-primary;
          font-size: 32px;
          font-weight: 600;
          line-height: 1;
          margin: 0 0 10px;

          @media( min-width: $breakpoint-md-min ) {
            color: $color-white;
            font-size: 36px;
            line-height: 42px;
          }

          @media( min-width: $breakpoint-lg-min ) {
            color: $color-white;
            font-size:  45px;
          }

          span {
            display: inline;

            @media( min-width: $breakpoint-md-min ) {
              display: block;
            }

            @media( min-width: $breakpoint-lg-min ) {
              display: inline;
            }
          }
        }

        h2 {
          color: $color-secondary;
          font-size: 16px;
          font-weight: 400;

          @media( min-width: $breakpoint-md-min ) {
            color: $color-white;
            font-size:  22px;
            line-height: 27px;
            margin-bottom: 20px;
          }

          @media( min-width: $breakpoint-lg-min ) {
            color: $color-white;
            font-size:  25px;
          }

          span {
            display: inline;

            @media( min-width: $breakpoint-md-min ) {
              display: block;
            }

            @media( min-width: $breakpoint-lg-min ) {
              display: inline;
            }
          }
        }

        &--caption {
          display: none;

          @media( min-width: $breakpoint-md-min ) {
            color: $white;
            display: block;
          }

          strong {
            display: block;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.page-gf-paid-media-master---program { // sass-lint:disable-line class-name-format
  .hero {
    &__inner {
      h1 {
        font-size: 36px;
      }
    }
  }
}
