// stylelint-disable selector-no-qualifying-type, media-feature-name-allowed-list

input {
  &[type='text'],
  &[type='email'] {
    background: $color-white;
    border: 1px solid darken($color-alt, 20%);
    border-radius: 2px;
    font-size: 13px;
    font-weight: 200;
    height: 34px;
    padding: 7px 10px;
    width: 100% !important; // stylelint-disable declaration-no-important

    @media (max-width: 767px) {
      border: 1px solid #aaa;
      border-radius: 3px;
      height: 40px;
    }
  }
}
