.page-template-terms {
  button,
  input[type='submit'] {
    @media (min-width: $breakpoint-md-min) {
      color: $color-primary;
      font-size: 18px;
      max-width: 180px;
      padding: 15px;
      transition: $transition-opacity;
    }
  }
}
