.hero {
  @media( min-width: $breakpoint-md-min) and ( max-width: $breakpoint-md-max ) { // stylelint-disable-line media-feature-name-whitelist
    @include make-col(6.5);
  }

  h1 {
    color: $color-primary;
    font-size: 32px;
    font-weight: 600;

    @media( min-width: $breakpoint-md-min ) {
      color: $color-white;
      font-size: 36px;
      line-height: 42px;
    }

    @media( min-width: $breakpoint-lg-min ) {
      font-size: 45px;
    }

    span {
      display: inline;

      @media( min-width: $breakpoint-md-min ) {
        display: block;
      }

      @media( min-width: $breakpoint-lg-min ) {
        display: inline;
      }
    }
  }

  h2 {
    color: $color-secondary;
    font-size: 16px;
    font-weight: 400;

    @media( min-width: $breakpoint-md-min ) {
      color: $color-white;
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 20px;
    }

    @media( min-width: $breakpoint-lg-min ) {
      font-size: 25px;
    }

    span {
      display: inline;

      @media( min-width: $breakpoint-md-min ) {
        display: block;
      }

      @media( min-width: $breakpoint-lg-min ) {
        display: inline;
      }
    }
  }

  &__background {
    background-size: cover;
    height: 100%;

    @media( min-width: $breakpoint-md-min ) {
      min-height: 405px;
    }
  }
}
