.error404 {
  h1 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    text-transform: uppercase;

    @media( min-width: $breakpoint-sm-min ) {
      font-size: 48px;
    }

    @media( min-width: $breakpoint-md-min ) {
      font-size: 52px;
      margin-bottom: 10px;
    }

    @media( min-width: $breakpoint-lg-min ) {
      font-size: 64px;
    }

    span {
      display: block;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 700;

    @media( min-width: $breakpoint-md-min ) {
      font-size: 25px;
    }
  }

  .button {
    display: none;
    font-size: 18px;
    max-width: 230px;
    padding: 15px 0;

    @media( min-width: $breakpoint-md-min ) {
      display: block;
    }
  }

  .hero {
    @media( min-width: $breakpoint-md-min ) {
      background-image: url('../../images/sample-hero-full.jpg');
      background-position: 0 40%;
      background-size: cover;
      flex: inherit;
      max-width: inherit;
      min-height: 500px;
    }

    &__copy {
      background: none;
      padding: 15px 30px 0;

      @media( min-width: $breakpoint-md-min ) {
        bottom: 60px;
        padding: 0 30px;
        top: auto;
      }

      @media( min-width: $breakpoint-lg-min ) {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .widget {
    h3 {
      color: $color-primary;
      font-size: 19px;
    }

    &--alt {
      h3 {
        color: $color-secondary;
      }
    }
  }

  .section {
    &--content {
      h2 {
        color: $color-primary;
      }
    }

    &--widgets {
      .row {
        flex-direction: column;
      }
    }

    &__form {
      @include make-col(12);
      padding: 0;

      .form {
        &__inner {
          background: none;
          padding: 0;
        }
      }
    }
  }
}
