// sass-lint:disable nesting-depth
.page-template-centered-content {
  .info-section {
    &--content {
      article {
        display: table;
        min-height: 84vh;
        position: relative;
        width: 100%;

        @media( min-width: $breakpoint-md-min ) {
          @include make-col(7);
          @include make-col-offset(2.5);
        }
      }

      .entry-content {
        display: table-cell;
        margin: 70px auto;
        padding: 0 10px;
        vertical-align: middle;

        h2 {
          color: $color-primary;
        }

        form {
          li {
            @include make-col(12);

            &.gfield_html { // sass-lint:disable-line class-name-format
              margin: 0 0 5px;
            }

            &.form__group--select {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}
