.page-template-split-50 {
  background: url( '../../images/split-bg.jpg' ) top center no-repeat;
  background-size: cover;

  // sass-lint:disable class-name-format
  .newChat {
    display: none;
  }

  .info-section {
    > .row {
      margin: 0;
    }

    &__form {
      @include make-col(12);

      min-height: 100vh;
      padding: 0;

      .form {
        &__inner {
          background: rgba($color-alt, .9);
          display: flex;
          flex-direction: column;

          h3 {
            color: $color-primary;
            font-size: 18px;
            font-weight: 700;
          }
        }

        &__logo {
          display: block;
          margin: 15px auto;
          max-width: 80px;
        }
      }

      @media (min-width: $breakpoint-md-min ){
        @include make-col(5.5);
        background: $color-alt;
      }
    }

    .background-caption {
      bottom: 30px;
      color: $white;
      display: none;
      font-size: 16px;
      font-weight: 700;
      position: absolute;
      right: 30px;

      @media (min-width: $breakpoint-md-min ){
        display: block;
      }
    }
  }

  .split__copyright {
    font-size: 10px;
    margin-top: 30px;
    opacity: .6;

    @media ( min-width: $breakpoint-lg-min ) {
      margin-top: auto;
    }
  }
}
