%button {
  border: none;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  transition: .13s ease background;
  width: 100%;
}

%button--yellow {
  background-color: $color-accent;
  border: $color-accent;
  color: $color-primary;

  &[disabled] {
    opacity: .5;
  }

  &:not([disabled]) {
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      text-decoration: none;
    }
  }
}
