body {
  &.modal-open {
    overflow: inherit;
    padding-right: 0 !important; // stylelint-disable-line declaration-no-important
  }
}

.modal {
  &-content {
    border: none;
    border-radius: 0;
    font-size: 12px;
    line-height: 2;
    padding: 15px;

    P {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .close {
    border: none;
    font-size: 25px;
    font-weight: 700;
  }

  h3 {
    color: $color-primary;
    font-size: 22px;
    font-weight: 700;
  }
}
