.tooltip {
  background: $color-white;
  border: 1px solid $error;
  color: #333;  /* stylelint-disable-line sh-waqar/declaration-use-variable */
  font-size: 11px;
  margin-bottom: 5px;
  margin-top: 10px;
  max-width: 280px;
  padding: 5px 10px;

  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $error;
    bottom: -5px;
    content: '';
    height: 0;
    position: absolute;
    right: 38px;
    width: 0;
  }
}
