/* stylelint-disable */

body {
  &.page-template-default,
  &.page-template-page-form-landing {
    @media (max-width: 767px) {
      color: #4d535b;
      font-family: 'HK Grotesk';
      font-size: 16px;
      padding-top: 0 !important;

      .header {
        background: $color-white;
        padding: 0 0 11px;
        position: static;

        &__value-props {
          background: $color-primary;
          color: $color-white;
          display: block;
          margin-bottom: 8px;
          padding: 9px 0;

          .container {
            display: flex;
            justify-content: center;
          }

          span {
            border-right: 1px solid $color-white;
            display: inline-block;
            font-size: 12px;
            line-height: 1;
            padding: 0 7px;
            text-align: center;

            &:last-child {
              border: none;
              padding-right: 0;
            }

            &:first-child {
              padding-left: 0;
            }
          }
        }

        &__logo {
          @include make-col(12);

          a {
            background-image: url('../../images/logo-alt-mobile.svg');
            background-position: left center;
            background-repeat: no-repeat;
            height: 45px;
            margin: 0 auto;
            max-width: 100%;
          }
        }

        &__contact {
          display: none;

          .phone {
            &__icon {
              background-image: url('../../images/mobile-order/phone.svg');
            }
          }
        }
      }

      .section {
        &--fluid {
          > .row {
            flex-direction: column;
          }
        }

        .hero {
          &__background {
            background-size: cover;
            height: 200px;
          }

          &__copy {

            h1 {
              color: $color-blue-19;
              font-family: 'Leitura News Roman 3';
              font-size: 36px;
              font-weight: 600;
              line-height: 42px;
            }

            h2 {
              color: $color-black;
              font-family: 'HK Grotesk';
              font-weight: 700;
              line-height: 30px;
            }
          }

          &__caption {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, .32) 44%, rgba(0, 0, 0, .6) 100%);
            color: $color-white;
            display: block;
            font-size: 12px;
            padding: 30px 30px 15px;
            position: absolute;
            right: 0;
            text-align: right;
            top: 126px;
            width: 100%;
          }
        }

        &__form {
          order: 9;

          .form {
            &__inner {
              padding: 25px;

              input,
              select {
                border: 1px solid #aaa;
                border-radius: 3px;
                height: 40px;
              }

              .form__group--military {
                margin-bottom: 10px;
              }

              .ginput_container_checkbox,
              .ginput_container_consent {
                font-size: 12px;

                label {
                  &:before {
                    display: none;
                  }

                  a {
                    color: #315fa3;
                  }
                }
              }
            }
          }

          .icon--question-circle {
            &:before {
              color: #398dcd;
              opacity: 1 !important;
            }
          }

          .form__group--select,
          .gfield_chainedselect span:not(:first-child) {
            select {
              background-image: url('../../imageschevron-down.svg');
            }
          }
        }

        &--widgets {
          padding: 0 35px 35px;

          .widget {
            h2,
            h3 {
              color: $color-blue-19;
              font-family: 'HK Grotesk';
              font-size: 18px;
              font-weight: 700;
            }

            &__content {
              font-size: 16px;
            }
          }
        }

        &--quote {
          img {
            border: 5px solid $color-white;
            border-radius: 100%;
            height: 120px;
            margin: 0 auto 10px;
            width: 120px;
          }
        }
      }

      // sass-lint:disable class-name-format
      .newChat {
        background-color: $color-blue-19;
        bottom: 130px;
        transition: .2s all ease;

        &.move-down {
          bottom: 10px;
        }
      }

      #fixed-cta {
        bottom: 0;
        display: block !important;
        left: 0;
        position: fixed;
        text-align: center;
        transition: .2s all ease;
        width: 100%;
        z-index: 99;

        .btn-wrap {
          margin-bottom: 20px;
          padding: 0 22px;
        }

        .row {
          background: $color-white;
          box-shadow: 0 -6px 6px 1px rgba(0, 0, 0, .2);
          padding: 15px;

          img {
            width: 28px;
          }
        }

        .button {
          display: block !important;
          font-family: 'HK Grotesk';

          &:hover,
          &:active {
            color: $color-white;
          }
        }

        &.hide-me {
          bottom: -100%;
          opacity: 0;
        }
      }

      .site-footer {
        background: $color-blue-19;
        color: $color-white;
        padding: 15px 10px;

        a {
          color: $color-white;
          text-decoration: underline;
        }
      }

      .form__group--gdpr,
      .form__group--military,
      .form__terms,
      .consent {

        label {
          font-size: 13px;
          line-height: 1.3;
          margin-bottom: 25px;
          padding-left: 55px;
          position: relative;
        }

        input {
          clip: rect(0, 0, 0, 0);
          height: 0;
          opacity: 0;
          position: absolute;
          width: 0;

          &:checked + label {
            .slider {
              background-color: $color-blue-19;

              &:before {
                transform: translateX(22px);
              }
            }
          }

          &:focus + label {
            .slider {
              box-shadow: 0 0 4px #2196f3;
            }
          }
        }

        .slider {
          background-color: #dbdbdb;
          border-radius: 20px;
          bottom: 0;
          cursor: pointer;
          height: 25px;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          transition: .2s;
          width: 45px;

          &:before {
            background-color: $color-white;
            border-radius: 100%;
            bottom: 0;
            content: '';
            height: 25px;
            left: 0;
            position: absolute;
            transition: .2s;
            width: 25px;
          }
        }
      }

      .button--yellow,
      .gform_wrapper .gform_footer button {
        border-radius: 5px;
        color: $color-primary;
        display: block;
        font-family: 'HK Grotesk';
        font-size: 16px;
        padding: 15px;

        &:hover {
          background: $color-accent;
          border: $color-accent;
          color: $color-primary !important;
        }

        &:active {
          background: $color-primary;
          color: $color-white !important;
          text-decoration: none;
        }
      }
    }

    .newChat {
      display: none;

      @media( min-width: 767px ) {
        display: block;
      }
    }
  }
}

#cookieBar {
  background: $color-blue-19;
  z-index: 999;

  .gdpr-header {
    color: $color-white;
    margin: 10px 0 0;
    padding: 0 15px;
    width: 90%;

    a {
      color: $color-white;
      text-decoration: underline;
    }

    .gdpr-close {
      color: $color-white;
      font-size: 22px;
      top: -18px;
    }
  }
}
