html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: $open-sans;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  overflow-x: hidden;
}

.clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.sr-only {
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

h2 {
  font-size: 20px;
  font-weight: 400;

  @media( min-width: $breakpoint-sm-min ) {
    font-size: 25px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 400;
}
