// stylelint-disable max-nesting-depth, selector-max-compound-selectors, media-feature-name-whitelist, sh-waqar/declaration-use-variable, font-family-no-missing-generic-family-keyword

.ginput {
  &_container {
    &_checkbox {
      font-size: 11px;

      @media (max-width: $breakpoint-md-max) {
        font-size: 12px;
      }

      li {
        margin-bottom: 0;
      }

      a {
        color: $color-black;
        text-decoration: underline;

        @media (max-width: $breakpoint-md-max) {
          color: $color-mid-blue;
        }
      }

      label {
        cursor: pointer;

        &::before {
          border: 1px solid #aaa;
          content: '';
          display: inline-block;
          height: 14px;
          line-height: 12px;
          margin-right: 5px;
          transform: translateY(2px);
          width: 14px;

          @media (max-width: $breakpoint-md-max) {
            display: none;
          }
        }

        @media (max-width: $breakpoint-md-max) {
          font-size: 13px;
          line-height: 1.3;
          margin-bottom: 25px;
          padding-left: 55px;
          position: relative;
        }
      }

      .slider {
        @media (max-width: $breakpoint-md-max) {
          background-color: #dbdbdb;
          border-radius: 20px;
          bottom: 0;
          cursor: pointer;
          height: 25px;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          transition: .2s;
          width: 45px;

          &::before {
            background-color: $color-white;
            border-radius: 100%;
            bottom: 0;
            content: '';
            height: 25px;
            left: 0;
            position: absolute;
            transition: .2s;
            width: 25px;
          }
        }
      }

      input {
        border: none;
        clip: rect(0, 0, 0, 0);
        height: 0;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;

        @media (max-width: $breakpoint-md-max) {
          clip: rect(0, 0, 0, 0);
          height: 0;
          opacity: 0;
          position: absolute;
          width: 0;
        }

        &:checked {
          label {
            &::before {
              background: $color-secondary;
              border-color: $color-secondary;
              color: $color-white;
              content: '\e803';
              font-family: fontello;
              font-size: 11px;
              -webkit-font-smoothing: antialiased;
              font-style: normal;
              font-variant: normal;
              font-weight: 400;
              line-height: 12px;
              speak: none;
              text-align: right;
              text-transform: none;
              transform: translateY(-3px);
            }
          }

          + label {
            .slider {
              @media (max-width: $breakpoint-md-max) {
                background-color: $color-blue-19;

                &::before {
                  transform: translateX(22px);
                }
              }
            }
          }
        }

        &:focus + label {
          .slider {
            @media (max-width: $breakpoint-md-max) {
              box-shadow: 0 0 4px #2196f3;
            }
          }
        }
      }
    }
  }
}
