// stylelint-disable media-feature-name-allowed-list, selector-no-qualifying-type, declaration-no-important
.gform {
  &_footer {
    button,
    input[type='submit'] {
      @extend %button;
      @extend %button--yellow;
      max-width: 100%;

      @media (max-width: 767px) {
        border-radius: 5px;
        color: $color-primary;
        display: block;
        font-family: $font-secondary;
        font-size: 16px;
        padding: 15px;

        &:hover {
          background: $color-accent;
          border: $color-accent;
          color: $color-primary !important;
        }

        &:active {
          background: $color-primary;
          color: $color-white !important;
          text-decoration: none;
        }
      }
    }
  }
}
