// stylelint-disable media-feature-name-whitelist, selector-no-qualifying-type, declaration-no-important, selector-class-pattern, max-nesting-depth

.form {
  &__group {
    &--military {
      margin-bottom: 0;
      position: relative;

      @media (max-width: 767px) {
        font-size: 12px;
      }

      .ginput_container {
        display: inline-block;
      }

      .icon--question-circle {
        display: inline-block;

        &::before {
          color: $color-secondary;
          font-size: 16px;
          opacity: .7;
          padding-left: 10px;

          @media (max-width: 767px) {
            color: $color-mid-blue;
            opacity: 1 !important;
          }
        }
      }
    }
  }
}
