.form {
  &__group {
    &--military {
      /* stylelint-disable selector-class-pattern */
      margin-bottom: 0;
      position: relative;

      .ginput_container {
        display: inline-block;
      }

      .icon--question-circle {
        display: inline-block;

        &::before {
          color: $color-secondary;
          font-size: 16px;
          opacity: .7;
          padding-left: 10px;
        }
      }
    }
  }
}
