.form {
  &__group {
    &--select {
      position: relative;

      select {
        -moz-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
        -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
        background-image: url('../../images/down-open.svg');
        background-position: 96% 50%;
        background-repeat: no-repeat;
        background-size: 12px;

        &::-ms-expand {
          display: none;
        }
      }
    }
  }
}
