.footer {
  background: $color-alt;
  font-size: 12px;

  nav {
    ul {
      font-size: 0;
    }

    li {
      display: block;
      list-style-type: none;

      @media( min-width: $breakpoint-md-min ) {
        display: inline-block;
      }
    }

    a {
      display: block;
      font-size: 12px;
      line-height: 1;
      margin-bottom: 10px;

      @media( min-width: $breakpoint-md-min ) {
        border-right: 1px solid $color-black;
        margin-bottom: 0;
        margin-right: 10px;
        padding-right: 10px;
      }
    }
  }
}
