// sass-lint:disable nesting-depth
.site-footer {
  background: $color-alt;
  font-size: 12px;
  padding: 20px 0;

  nav {
    display: inline-block;

    ul {
      font-size: 0;
      margin: 0;
      padding: 0;

      li {
        display: block;
        list-style-type: none;

        @media( min-width: $breakpoint-md-min ) {
          display: inline-block;
        }

        a {
          display: block;
          font-size: 12px;
          line-height: 1;
          margin-bottom: 10px;

          @media( min-width: $breakpoint-md-min ) {
            border-right: 1px solid $color-black;
            margin-bottom: 0;
            margin-right: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }

  &--applite {
    .site-footer {
      &__navigation {
        @include make-col-ready();
        @include make-col(8);

        li {
          &:last-child {
            a {
              border: none;
            }
          }
        }
      }

      &__social {
        @include make-col-ready();
        @include make-col(4);

        text-align: right;

        ul {
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            list-style-type: none;

            a {
              color: $color-secondary;
              font-size: 18px;
              padding-left: 10px;

              &:hover {
                color: $color-accent;
                text-decoration: none;
              }
            }
          }
        }
      }

      &__copyright {
        margin-top: 20px;
      }
    }
  }

  &__copyright,
  &__navigation {
    @media( min-width: $breakpoint-md-min ) {
      display: inline-block;
    }

    p {
      margin-bottom: 0;
    }
  }
}
