.page-template-thank-you {
  .hentry {
    min-height: 78vh;
  }

  .section {
    &__form {
      @include make-col(12);

      @media( min-width: $breakpoint-lg-min ) {
        @include make-col(9);
      }

      .form {
        &__inner {
          background: none;
          padding: 0;
        }
      }
    }
  }

  .entry-title {
    color: $color-primary;
    font-size: 45px;
    margin-top: 30px;

    .intro-text {
      margin-bottom: 0;
    }
  }

  .button {
    max-width: 230px;
  }
}
