.nuedu2 {

  $color-primary:   #1a3660;
  $color-secondary: #0088cf;

  .site-header {
    background: #fff;

    &__logo {
      a {
        background: url('../../images/logo-alt-mobile.svg') top left no-repeat;

        @media( min-width: $breakpoint-md-min ) {
          background: url('../../images/logo-alt.svg') top left no-repeat;
        }
      }
    }

    .phone {
      &__number {
        color: $color-primary;
      }

      &__icon {
        background: url('../../images/phone_icon-alt.svg') top center no-repeat;
      }
    }
  }

  .info-section {
    &--accolades {
      background-color: $color-primary;
    }
  }

  .hero {
    &__title {
      h1,
      h2 {
        display: inline-block;

        @media( min-width: $breakpoint-md-min ) {
          display: block;
          max-width: 470px;
        }
      }

      h1 {
        background: $color-primary;
        color: #fff;
        font-family: 'oswald bold', Arial, Helvetica, sans-serif;
        padding: 10px 20px;
        text-transform: uppercase;

        @media( min-width: $breakpoint-md-min ) {
          background: none;
          padding: 0;
        }

        span {
          display: inline;

          @media( min-width: $breakpoint-md-min ) {
            background: $color-primary;
            display: inline-block;
            padding: 10px 20px;
          }
        }
      }

      h2 {
        background: $color-secondary;
        color: #fff;
        font-family: 'oswald bold', Arial, Helvetica, sans-serif;
        margin-bottom: 0;
        padding: 10px 20px;
        text-transform: uppercase;

        @media( min-width: $breakpoint-md-min ) {
          background: none;
          padding: 0;
        }

        span {
          display: inline;

          @media( min-width: $breakpoint-md-min ) {
            background: $color-secondary;
            display: inline-block;
            padding: 5px 10px;

            &:first-child {
              margin-bottom: 5px;
            }
          }
        }
      }

      &--caption {
        margin-top: 10px;

        @media(min-width: $breakpoint-lg-min ) {
          bottom: 30px;
          margin-top: 0;
          position: absolute;
          right: 30px;
        }

        @media(min-width: $breakpoint-xl-min ) {
          bottom: 15px;
          right: 15px;
        }
      }
    }
  }
}
