// stylelint-disable sh-waqar/declaration-use-variable, indentation, value-list-comma-space-after
@font-face {
  font-display: swap;
  font-family: oswald;
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/oswald/oswald-bold-webfont.woff2') format('woff2'),
       url('../../fonts/oswald/oswald-bold-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: oswald;
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/oswald/oswald-heavy-webfont.woff2') format('woff2'),
       url('../../fonts/oswald/oswald-heavy-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: oswald;
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/oswald/oswald-medium-webfont.woff2') format('woff2'),
       url('../../fonts/oswald/oswald-medium-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: oswald;
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/oswald/oswald-regular-webfont.woff2') format('woff2'),
       url('../../fonts/oswald/oswald-regular-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
       url('../../fonts/open-sans/opensans-light-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
       url('../../fonts/open-sans/opensans-regular-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
       url('../../fonts/open-sans/opensans-semibold-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
       url('../../fonts/open-sans/opensans-bold-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../../fonts/open-sans/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../../fonts/open-sans/opensans-extrabold-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/fontello/fontello.eot?36463184');
  src: url('../../fonts/fontello/fontello.eot?36463184#iefix') format('embedded-opentype'),
       url('../../fonts/fontello/fontello.woff2?36463184') format('woff2'),
       url('../../fonts/fontello/fontello.woff?36463184') format('woff'),
       url('../../fonts/fontello/fontello.ttf?36463184') format('truetype'),
       url('../../fonts/fontello/fontello.svg?36463184#fontello') format('svg');
}
