// Here as an example
// $font-open: 'Open Sans', Arial, Helvetica, sans-serif;
$open-sans: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Tahoma, Arial, sans-serif;

$font-primary: 'Leitura News Roman 3', serif;
$font-secondary: 'HK Grotesk', arial, sans-serif;
