.accolades {
  background: $color-primary;
  text-align: center;
  width: 100%;

  h2 {
    color: $color-white;
    font-size: 22px;
    font-weight: 400;
  }

  .accolade {
    img {
      max-width: 100%;

      @media( min-width: $breakpoint-md-min ) {
        max-width: 150px;
      }
    }
  }

  &__nav {
    background: none;
    border: none;
    color: $color-white;
    font-size: 28px;
    top: 50%;
    z-index: 9;

    &--prev {
      left: 30px;

      @media( min-width: 375px ) {
        left: 60px;
      }
    }

    &--next {
      right: 30px;

      @media( min-width: 375px ) {
        right: 60px;
      }
    }
  }
}
