// stylelint-disable selector-no-qualifying-type
.accolades {
  background: $color-primary;
  text-align: center;
  width: 100%;

  @media(min-width: $breakpoint-xl-min) {
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw;
  }

  .container {
    max-width: 900px;
  }

  h2 {
    color: $color-white;
    font-size: 22px;
    font-weight: 400;
  }

  .accolade {
    img {
      filter: grayscale(100%) brightness(900%);
      max-width: 100%;

      @media( min-width: $breakpoint-md-min ) {
        max-width: 150px;
      }

      &[src*='Money-Best'],
      &[src*='mbc'] {
        filter: grayscale(0) brightness(100%);
      }
    }
  }

  &__nav {
    background: none;
    border: none;
    color: $color-white;
    font-size: 28px;
    top: 50%;
    z-index: 9;

    &--prev {
      left: 30px;

      @media( min-width: 375px ) {
        left: 60px;
      }
    }

    &--next {
      right: 30px;

      @media( min-width: 375px ) {
        right: 60px;
      }
    }
  }
}
