// stylelint-disable media-feature-name-allowed-list, selector-no-qualifying-type, declaration-no-important
.footer {
  background: $color-alt;
  font-size: 12px;

  @media (max-width: 767px) {
    background: $color-blue-19;
    color: $color-white;
    padding: 15px 10px;
  }

  a {
    @media (max-width: 767px) {
      color: $color-white;
      text-decoration: underline;
    }
  }

  nav {
    ul {
      font-size: 0;
    }

    li {
      display: block;
      list-style-type: none;

      @media( min-width: $breakpoint-md-min ) {
        display: inline-block;
      }
    }

    a {
      display: block;
      font-size: 12px;
      line-height: 1;
      margin-bottom: 10px;

      @media( min-width: $breakpoint-md-min ) {
        border-right: 1px solid $color-black;
        margin-bottom: 0;
        margin-right: 10px;
        padding-right: 10px;
      }
    }
  }
}
