// stylelint-disable media-feature-name-whitelist

.section {
  &--quote {
    background: $color-alt;
    padding-left: 45px;
    padding-right: 45px;
    width: 100vw;

    @media(min-width: $breakpoint-xl-min) {
      left: 50%;
      margin-left: -50vw;
      position: relative;
    }

    .quote {
      text-align: center;

      img {
        @media (max-width: 767px) {
          border: 5px solid $color-white;
          border-radius: 100%;
          height: 120px;
          margin: 0 auto 10px;
          width: 120px;
        }
      }

      p {
        font-size: 17px;
        font-style: italic;

        @media( min-width: $breakpoint-md-min ) {
          font-size: 22px;
        }
      }

      cite {
        color: $color-primary;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;

        @media( min-width: $breakpoint-md-min ) {
          font-size: 22px;
        }
      }

      span {
        color: darken($color-alt, 30%); // stylelint-disable-line sh-waqar/declaration-use-variable
        display: block;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
      }
    }
  }
}
