.section {
  &--quote {
    background: $color-alt;
    padding-left: 45px;
    padding-right: 45px;

    @media(min-width: $breakpoint-xl-min) {
      left: 50%;
      margin-left: -50vw;
      position: relative;
      width: 100vw;
    }

    .quote {
      text-align: center;

      p {
        font-size: 17px;
        font-style: italic;

        @media( min-width: $breakpoint-md-min ) {
          font-size: 22px;
        }
      }

      cite {
        color: $color-primary;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;

        @media( min-width: $breakpoint-md-min ) {
          font-size: 22px;
        }
      }

      span {
        color: darken($color-alt, 30%); // stylelint-disable-line sh-waqar/declaration-use-variable
        display: block;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
      }
    }
  }
}
