// sass-lint:disable nesting-depth
.error404 {
  .info-section {
    .container {
      max-width: 1280px;
    }

    &__hero {
      @include make-col(12);

      .hero {
        &__inner {
          @media( min-width: $breakpoint-md-min ) {
            background-image: url('../../images/sample-hero-full.jpg');
            background-position: 0 39%;
            background-size: cover;
            min-height: 500px;
          }
        }

        &__title {
          background: none;
          padding: 15px 30px 0;

          @media( min-width: $breakpoint-md-min ) {
            bottom: 60px;
            padding: 0 30px;
            top: auto;
          }

          @media( min-width: $breakpoint-lg-min ) {
            bottom: auto;
            top: 50%;
            transform: translateY(-50%);
          }

          h1 {
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 0;
            text-transform: uppercase;

            @media( min-width: $breakpoint-sm-min ) {
              font-size: 48px;
            }

            @media( min-width: $breakpoint-md-min ) {
              font-size: 52px;
              margin-bottom: 10px;
            }

            @media( min-width: $breakpoint-lg-min ) {
              font-size: 64px;
            }

            span {
              display: block;
            }
          }

          h2 {
            font-size: 18px;
            font-weight: 700;

            @media( min-width: $breakpoint-md-min ) {
              font-size: 25px;
            }
          }

          .button {
            display: none;
            font-size: 18px;
            max-width: 230px;
            padding: 15px 0;

            @media( min-width: $breakpoint-md-min ) {
              display: block;
            }
          }
        }
      }
    }

    &--content {
      padding-top: 20px;

      .dynamic-content {
        @include make-col-ready();
        @include make-col(12);

        @media( min-width: $breakpoint-lg-min ) {
          @include make-col(8.5);
        }
      }

      aside {
        @include make-col-ready();
        @include make-col(12);

        margin-top: 30px;

        @media( min-width: $breakpoint-lg-min ) {
          @include make-col(3.5);

          margin-top: 0;
        }
      }

      h2 {
        color: $color-primary;
        font-weight: 700;
      }
    }

    &__form {
      @include make-col(12);
      padding: 0;

      .form {
        &__inner {
          background: none;
          padding: 0;
        }
      }
    }

    &--widgets {
      padding-top: 0;

      .row {
        flex-direction: column;
      }

      .widget {
        @include make-col(12);

        @media( min-width: $breakpoint-md-min ) {
          margin-bottom: 15px;
        }

        h3 {
          color: $color-primary;
          font-size: 19px;
          font-weight: 700;
        }

        &--alt {
          padding: 0 15px;

          h3 {
            color: $color-secondary;
          }

          .widget {
            &__inner {
              position: static;
              transform: none;

              @media( min-width: $breakpoint-md-min ) {
                display: block;
              }

              img {
                @media( min-width: $breakpoint-sm-min ) {
                  margin: 0 auto 15px;
                  max-width: 65px;
                }
              }
            }

            &__content {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .site-footer {
    margin-top: 30px;
  }
}
