// stylelint-disable media-feature-name-whitelist
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: $open-sans;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  overflow-x: hidden;

  @media (max-width: 767px) {
    color: $color-mid-gray;
    font-family: $font-secondary;
    font-size: 16px;
    padding-top: 0 !important; /* stylelint-disable declaration-no-important */
  }
}

.clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.sr-only {
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}
