html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: $open-sans;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  overflow-x: hidden;
}

.clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.sr-only {
  @extend .screen-reader-text; // stylelint-disable-line scss/at-extend-no-missing-placeholder
}
