// stylelint-disable media-feature-name-allowed-list
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: $open-sans;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  overflow-x: hidden;

  @media (max-width: 767px) {
    color: $color-mid-gray;
    font-family: $font-secondary;
    font-size: 16px;
    padding-top: 0 !important; // stylelint-disable declaration-no-important
  }
}

.clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.sr-only {
  @extend .screen-reader-text; // stylelint-disable-line scss/at-extend-no-missing-placeholder
}
